{% extends 'base.html' %}


{% block scripts %}

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#data').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            } );
        } );

        var addinfo_template =

        $(document).ready(function () {
          $("#error > div > a").click(function () {
            this.outerHTML = '<form method="post" id="addinfo_' + this.id.substring(3) + '"><input type="hidden" id="qrcode" name="qrcode" value="' + this.id.substring(3) + '"><label for="vendor">Vendor:</label><input type="text" id="vendor" class="form-control" name="vendor"><label for="modelcode">Model code:</label><input type="text" id="modelcode" class="form-control" name="modelcode"><label for="capacity">Nominal capacity:</label><input type="text" id="capacity" class="form-control" name="capacity"><label for="factoryaddress">Factory address:</label><input type="text" id="factoryaddress" class="form-control" name="factoryaddress"><button type="submit">Submit</button></form>';

              $("#addinfo_" + this.id.substring(3)).submit(function (event) {
                var formData = {
                  vendor: $("#vendor").val(),
                  modelcode: $("#modelcode").val(),
                  capacity: $("#capacity").val(),
                  factoryaddress: $("#factoryaddress").val(),
                  qrcode: $("#qrcode").val(),
                };

                $.ajax({
                  type: "POST",
                  url: "/qrcode/addinfo",
                  data: formData,
                  dataType: "html",
                  encode: true,
                }).done(function (data) {
                  $('#addinfo_' + formData.qrcode)[0].outerHTML = 'Thank you for your help! Barcode ' + formData.qrcode + ' is submitted!';
                }).fail(function() {
                  $('#addinfo_' + formData.qrcode)[0].outerHTML = 'Error while sending Data!'
                }).always(function() {
                  $('#error_' + formData.qrcode)[0].remove()
                });

                event.preventDefault();
              });
          });

        });

    </script>

{% endblock %}

{% block content %}
    <h1>{% block title %} Battery QR Code checker {% endblock %}</h1>
    <p>This QR code tester is still in development. It does not recognize all possible QR codes because the documentation is not available. Therefore, we rely on feedback and would ask that you fill out the displayed help form for any QR codes that are not recognized.</p>

<form action="validate" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="qrcodes">QR-Codes</label>
    <textarea class="form-control" id="qrcodes" name="qrcodes" rows="6">{{ qrcodes }}</textarea>
    <input name='file' type="file" accept="image/*" multiple capture="camera">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/>
    <div id="error">
    {% for error in errors %}
        <div id="error_{{ error['qrcode'] }}" class="error">{{ error['text'] }}</div>
        <div><a href="#" id="qr_{{ error['qrcode'] }}">Help to detect this Barcode properly:</a></div>
    {% endfor %}
    </div>
<br/><br/>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Code</th>
        <th>Vendor</th>
        <th>Production Type</th>
        <th>Cell Type</th>
        <th>Model Code</th>
        <th>Nominal Capacity</th>
        <th>Factory Trace Code</th>
        <th>Factory Address</th>
        <th>Production Date</th>
        <th>Serialnumber</th>
      </tr>
    </thead>
    <tbody>
      {% for code in codes %}
        <tr>
          <td>{{ code.nr }}</td>
          <td>{{ code.code }}</td>
          <td>{{ code.vendor }}</td>
          <td>{{ code.production_type }}</td>
          <td>{{ code.cell_type }}</td>
          <td>{{ code.model_code }}</td>
          <td>{{ code.capacity }}Ah</td>
          <td>{{ code.factory_trace_code }}</td>
          <td>{{ code.factory_address }}</td>
          <td>{{ code.production_date_str }}</td>
          <td>{{ code.serialnumber }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

